<section class="page-title">
	<div class="container">
		<h2><%= t 'authorities'%></h2>
		<ul class="list-inline">
			<li><a href="/">Home</a></li>
			<li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'authorities'%></a></li>
		</ul><!-- /.list-inline -->
	</div><!-- /.container -->
</section><!-- /.page-title -->

<section class="about-section sec-pad">
	<div class="container">
		<div class="col-md-6">
			<br />
			<br />
			<h4><%= t 'academic_committee'%></h4>
			<h3>CACIC<span>2019</span></h3>
			<br />
<ul>
  <li>UBA – Cs. Exactas Garbervetsky, Diego</li>
  <li>UBA – Ingeniería Echeverria, Adriana</li>
  <li>UN La Plata Pesado, Patricia</li>
  <li>UN Sur Rueda, Sonia</li>
  <li>UN San Luis Piccoli, Fabiana</li>
  <li>UNCPBA Aciti, Claudio</li>
  <li>UN Comahue Vaucheret, Claudio</li>
  <li>UN La Matanza Spositto, Osvaldo</li>
  <li>UN La Pampa Alfonso, Hugo</li>
  <li>UN Lomas de Zamora Estayno, Marcelo</li>
  <li>UNTierra del Fuego Feierherd, Guillermo</li>
  <li>UN Salta Gil, Gustavo</li>
  <li>UN Patagonia Austral Lasso, Marta</li>
  <li>UN SanJuan Rodriguez, Nelson</li>
  <li>UADER Vivas, Patricia</li>
  <li>UN Patagonia SJB Buckle, Carlos</li>
  <li>UN Entre Ríos Tugnarelli, Mónica</li>
  <li>UN Nordeste Dapozo, Gladys</li>
  <li>UN Rosario Kantor Raul</li>
  <li>UN Misiones Kuna, Horacio</li>
  <li>UNNOBA Russo, Claudia</li>
  <li>UN Chilecito Carmona, Fernanda</li>
  <li>UN Lanús Azcurra, Diego</li>
  <li>UN Santiago del Estero Duran, Elena</li>
  <li>Esc. Sup. Ejército Arroyo Arzubi, Alejandro</li>
  <li>UN Litoral Loyarte, Horacio</li>
  <li>UN Rio IV Arroyo, Marcelo</li>
  <li>UN Córdoba Fridlender, Daniel</li>
  <li>UN Jujuy Herrera Cognetta, Analía</li>
</ul>

		</div><!-- /.col-md-6 -->
		<div class="col-md-6">
<br />
<br />
<h4>&nbsp;</h4>
<h3>&nbsp;</h3>
<br />
<ul>
  
  <li>UN Rio Negro Vivas, Luis</li>
  <li>UN Villa María Prato, Laura</li>
  <li>UN Lujan Panessi, Wálter</li>
  <li>UN Catamarca Poliche Maria Valeria</li>
  <li>UN La Rioja Campazzo Eduardo</li>
  <li>UN Tres de Febrero Oliveros, Alejandro</li>
  <li>UN Tucumán Luccioni, Griselda María</li>
  <li>UNAJ Morales, Martín</li>
  <li>UN Chaco Austral Zachman Patricia</li>
  <li>UN del Oeste Foti, Antonio</li>
  <li>UN de Cuyo García Garino, Carlos</li>
  <li>UN de Mar del Plata Doumecq, Julio Cesar</li>
  <li>U Morón Padovani Hugo</li>
  <li>UAI De Vincenzi, Marcelo</li>
  <li>U Belgrano Guerci, Alberto</li>
  <li>U kennedy Panizzi, Marisa</li>
  <li>U Adventista del Plata Bournissen Juan</li>
  <li>UCAECE Finocchieto, Jorge</li>
  <li>U Palermo Alvarez Adriana</li>
  <li>UCA Rosario Grieco, Sebastián</li>
  <li>U Salvador Zanitti, Marcelo</li>
  <li>U Aconcagua Giménez, Rosa</li>
  <li>U Gastón Dachary Beyersdorf, Carlos</li>
  <li>UCEMA Guglianone, Ariadna</li>
  <li>U Austral Cosentino, Juan Pablo</li>
  <li>U Atlántida Argentina Rathmann, Liliana</li>
  <li>UCA La Plata Bertone, Rodolfo</li>
  <li>ITBA Mon, Alicia</li>
  <li>U Champagnat Pinciroli, Fernando</li>
</ul>			
		</div><!-- /.col-md-6 -->
	</div><!-- /.container -->
</section><!-- /.about-section -->

<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <br />
      <br />
      <h4><%= t I18n.t 'science_committee'%></h4>
      <h3>CACIC<span>2019</span></h3>
      <br />
<ul>
  <li>Abásolo, María José (Argentina)</li>
  <li>Aciti, Claudio (Argentina)</li>
  <li>Alfonso, Hugo (Argentina)</li>
  <li>Ardenghi, Jorge (Argentina)</li>
  <li>Arroyo, Marcelo (Argentina)</li>
  <li>Astudillo Hernán (Chile)</li>
  <li>Baldasarri, Sandra (España)</li>
  <li>Balladini, Javier (Argentina)</li>
  <li>Barbosa, Luis (Portugal)</li>
  <li>Bertone, Rodolfo (Argentina)</li>
  <li>Bría, Oscar (Argentina)</li>
  <li>Brisaboa, Nieves (España)</li>
  <li>Buckle, Carlos (Argentina)</li>
  <li>Cañas, Alberto (EE.UU)</li>
  <li>Chavez, Edgar (México)</li>
  <li>Coello Coello, Carlos (México)</li>
  <li>Cuevas, Alfredo Simón (Cuba)</li>
  <li>Dix, Juerguen (Alemania)</li>
  <li>Doallo, Ramón (España)</li>
  <li>Docampo, Domingo (España)</li>
  <li>Casali, Ana (Argentina)</li>
  <li>Castro, Silvia (Argentina)</li>
  <li>Cechich, Alejandra (Argentina)</li>
  <li>Cuckierman, Uriel (Argentina)</li>
  <li>De Giusti, Armando (Argentina)</li>
  <li>De Giusti, Laura (Argentina)</li>
  <li>De Vincenzi, Marcelo (Argentina)</li>
  <li>Deco, Claudia (Argentina)</li>
  <li>Depetris, Beatriz (Argentina)</li>
  <li>Diaz, Javier (Argentina)</li>
  <li>Dujmovic Jozo (USA)</li>
  <li>Estayno, Marcelo (Argentina)</li>
  <li>Estevez, Elsa (Argentina)</li>
  <li>Falappa, Marcelo (Argentina)</li>
  <li>Fillottrani, Pablo (Argentina)</li>
  <li>Frati Emmanuel (Argentina))</li>
  <li>Fridlender Daniel (Argentina)</li>
  <li>García Garino, Carlos (Argentina)</li>
  <li>García Villalba, Javier (España)</li>
  <li>Género, Marcela (España)</li>
  <li>Gomez, Sergio (Argentina)</li>
  <li>Gorga, Gladys (Argentina)</li>
  <li>Gröller, Eduard (Austria)</li>
  <li>Guerrero, Roberto (Argentina)</li>
  <li>Ierache, Jorge (Argentina)</li>
</ul>

    </div><!-- /.col-md-6 -->
    <div class="col-md-6">
<br />
<br />
<h4>&nbsp;</h4>
<h3>&nbsp;</h3>
<br />
<ul>
  <li>Janowski, Tomasz (Naciones Unidas)</li>
  <li>Kuna Horacio (Argentina)</li>
  <li>Lanzarini, Laura (Argentina)</li>
  <li>Leguizamón, Guillermo (Argentina)</li>
  <li>Lopez Gil, Fernando (España)</li>
  <li>Loui, Ronald Prescott (EEUU)</li>
  <li>Luque, Emilio (España)</li>
  <li>Madoz, Cristina (Argentina)</li>
  <li>Malberti, Alejandra (Argentina)</li>
  <li>Malbran, Maria (Argentina)</li>
  <li>Marín, Mauricio (Chile)</li>
  <li>Mas Sansó, Ramón (España)</li>
  <li>Micolini, Orlando (Argentina)</li>
  <li>Mon Alicia (Argentina)</li>
  <li>Motz, Regina (Uruguay)</li>
  <li>Naiouf, Marcelo (Argentina)</li>
  <li>Navarro Martín, Antonio (España)</li>
  <li>Pardo, Álvaro (Uruguay)</li>
  <li>Pasini, Ariel (Argentina)</li>
  <li>Pesado, Patricia (Argentina)</li>
  <li>Piattini, Mario (España)</li>
  <li>Piccoli, María Fabiana (Argentina)</li>
  <li>Printista, Marcela (Argentina)</li>
  <li>Puppo, Enrico (Italia)</li>
  <li>Olivas Varela, José Angel (España)</li>
  <li>Ramón, Hugo (Argentina)</li>
  <li>Rexachs, Dolores (España)</li>
  <li>Reyes, Nora (Argentina)</li>
  <li>Roig Vila, Rosabel (España)</li>
  <li>Rossi, Gustavo (Argentina)</li>
  <li>Rosso, Paolo (España)</li>
  <li>Rueda, Sonia (Argentina)</li>
  <li>Russo, Claudia (Argentina)</li>
  <li>Salto, Carolina (Argentina)</li>
  <li>Sanz, Cecilia (Argentina)</li>
  <li>Simari, Guillermo (Argentina)</li>
  <li>Steinmetz, Ralf (Alemania)</li>
  <li>Suppi, Remo (España) </li>
  <li>Tarouco, Liane (Brasil)</li>
  <li>Tirado, Francisco (España)</li>
  <li>Thomas, Pablo (Argentina)</li>
  <li>Vénere, Marcelo (Argentina)</li>
  <li>Velho, Luiz (Brasil)</li>
  <li>Vendrell, Eduardo (España)</li>
  <li>Villagarcía, Horacio (Argentina)</li>
  <li>Zanarini, Dante (Argentina)</li>
</ul>     
    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->


<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <br />
      <br />
      <h4><%= t 'organizer_committee'%></h4>
      <h3>CACIC<span>XXV</span></h3>
      <br />
      <br />
      <p>
        <ul>
          <li>Marcelo Arroyo (Presidente)</li>
          <li>Nazareno Aguirre</li>
          <li>Germán Regis</li>
          <li>Marcela Daniele</li>
          <li>Sonia Permigiani</li>
          <li>Pablo Castro</li>
          <li>Francisco Bavera</li>
          <li>María Marta Novaira</li>
          <li>Pablo Ponzio</li>
          <li>Valeria Bengolea</li>
          <li>Renzo Degiovanni</li>
          <li>Ariel Arsaute</li>
          <li>Ariel González</li>
          <li>Marcelo Uva</li>
          <li>César Cornejo</li>
          <li>Mariano Politano</li>
          <li>Cecilia Kilmurray</li>
          <li>Franco Brusatti</li>
          <li>Gastón Scilingo</li>
          <li>Facundo Molina</li>
          <li>Ernesto Cerdá</li>
          <li>Fabio Zorzán</li>
        </ul>
      </p>
      <br />

    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->
