
<section class="page-title">
  <div class="container">
    <h2><%= t 'athenaeum' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'athenaeum' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2><%= t 'plenary_activities' %></h2>
      <h3><u><%= t 'athenaeum' %></u></h3>
    </div><!-- /.sec-title text-center -->
  </div>
</section>
<section class="school">

    <center>
      <div class="row">
        <ul class="courses">
          <li>
         <h3><a href="#" onclick="toggleCourse('charla2'); return false;"><%= t 'title_athenaeum' %> </a></h3>
        <h4>  <%= t 'course_charge' %>:  Mara Borchardt. <%= link_to 'Fundación Sadosky', target: '_blank' %>
          <div class="register-section">
            <a href="https://forms.gle/EhxcTVaZmat9oWQ38" target="_blank" class="btn btn-default register-button" role="button">
            <%= t 'registration' %>
          </a>
         </div> 
       </h4>  
       <h5> <%= fa_icon "calendar" %> <%= t 'date4' %>. 15hs </h5> 
       <h5> <%= fa_icon "map-marker" %> Aula Mayor UNRC </h5>         

        <div id="charla2" class="description">
          <strong>Abstract</strong> <br>
          <justify>
               <%= t 'abstract_athenaeum' %>
          </justify>
        </div>
      </li>
    </ul>
        <div class="col-md-12">
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/mara.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Mara Borchardt', 'http://www.fundacionsadosky.org.ar/?team=mara', target: "_blank" %></h3>
            <p>Fundación Sadosky</p>
          </div><!-- /.single-speaker -->
        </div><!-- /.col-md-3 -->
      </div>
    </center>
  </div>
</section>

<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
