<section class="page-title">
  <div class="container">
    <h2><%= t 'dinner' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'dinner' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'dinner' %></h2>
    </div>


 <div>

  <p class="justi"><h4><%= t 'dinner_info' %> 
    <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/Hs9we55dSwU4dXc6A"> <%= t 'form' %>  </a><%= t 'dinner_info1' %>  </h4>

  </p> 

       
</div>
</div>
</section>
