<html>
<head>
<title>Font Awesome 5 Icons</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!--Get your own code at fontawesome.com-->
</head>

<section class="page-title">
  <div class="container">
    <h2><%= t 'guest_talk' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'plenary_activities' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2><%= t 'plenary_activities' %></h2>
      <h3><u> <%= t 'guest_talk' %></u></h3>
      <h3>“Redes neuronales: orígenes y fundamentos del aprendizaje profundo”</h3>
      <h5> <i class='fas fa-calendar-alt'></i> <%= t 'date2' %>. 12.30hs </h5> 

    </div><!-- /.sec-title text-center -->

    <center>
      <div class="row">
        <div class="col-md-12">
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/diegomilone.png', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Diego Milone', 'http://sinc.unl.edu.ar/staff/diego-milone/', target: "_blank" %></h3>
            <p> <%= t 'uni_lito_conicet' %></p>
          </div><!-- /.single-speaker -->
        </div><!-- /.col-md-3 -->
      </div>
    </center>
    </div>
</section>