<section class="page-title">
  <div class="container">
    <h2><%= t 'registration_fees' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i><%= t 'conference' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center" >



<style>
table {
  center
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 2px solid #050000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<h3>    <%= t 'fees' %>
</h3>

<center>
<table>
  <tr>
    <th><h5><center><%= t 'category' %></center></h5></th>
    <th><h5><%= t 'until1' %></h5></th>
    <th><h5><%= t 'until2' %></h5></th>
  </tr>
  <tr>
    <td><center> <%= t 'member_student' %></center></td>
    <td>400 ARS</td>
    <td>500 ARS</td>
  </tr>
  <tr>
    <td><center> <%= t 'member_teacher' %> </center></td>
    <td>1100 ARS</td>
    <td>1400 ARS</td>
  </tr>
  <tr>
    <td><center><%= t 'other_student' %></center> </td>
    <td>500 ARS</td>
    <td>600 ARS</td>
  </tr>
  <tr>
    <td><center><%= t 'other_teacher' %></center> </td>
    <td>1500 ARS</td>
    <td>1800 ARS</td>
  </tr>

</table>

</center>
<br>
<br>

<h3> <%= t 'registration' %></h3>
<div align="left">   
    <strong> <%= t 'registration_info' %> </strong>

    <br>
    <br>
    <%= t 'registration_done' %>
     <a href="http://weblidi.info.unlp.edu.ar/sac_congreso/inscripcionCongreso.php?idEvento=106" target="_blank"> <strong><font size="3"> <%= t 'registration_form' %>
 </strong></font></a> 
        </div>
  </p>
  </div><!-- /.sec-title text-center -->
</div>
</section>
