<section class="page-title">
  <div class="container">
    <h2>Panel</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'plenary_activities' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2><%= t 'plenary_activities' %></h2>
      <h3><u> Panel</u></h3>
      <h3>“El impacto de la investigación en la docencia”</h3>
      <div class="register-section">
            <a href="https://forms.gle/UVuEnGBcQQFtaNAK6" target="_blank" class="btn btn-default register-button" role="button">
            <%= t 'registration' %>
          </a>
      </div> 
      <h5> <%= fa_icon "calendar" %>  <%= t 'date3' %>. 20hs </h5> 


    </div><!-- /.sec-title text-center -->
    
    <div class="row">    
       <div class="col-md-3">   
         <div class="single-speaker">   
           <div class="img-box">    
             <%= image_tag('speakers/marcelofrias.jpg', size: '250x250') %>   
             <div class="overlay-box">    
               <div class="display-table">    
               </div><!-- /.display-table -->   
             </div><!-- /.overlay-box -->   
           </div><!-- /.img-box -->   
           <h3><%= link_to 'Marcelo Frias', 'https://www.conicet.gov.ar/new_scp/detalle.php?id=21730&datos_academicos=yes', target: "_blank" %></h3>
            <p><%= t 'uni_itba' %></p>
          </div><!-- /.single-speaker -->    
       </div><!-- /.col-md-3 -->    

        <div class="col-md-3">    
         <div class="single-speaker">   
           <div class="img-box">    
             <%= image_tag('speakers/fernandacarmona.jpg', size: '250x250') %>    
             <div class="overlay-box">    
               <div class="display-table">    
                 <div class="display-table-cell">   
                 </div><!-- /.display-table-cell -->    
               </div><!-- /.display-table -->   
             </div><!-- /.overlay-box -->   
           </div><!-- /.img-box -->   
           <h3><%= link_to 'Fernanda Carmona', target: "_blank" %></h3>    
           <p><%= t 'uni_chilecito' %></p>   
         </div><!-- /.single-speaker -->    
       </div><!-- /.col-md-3 -->    

        <div class="col-md-3">    
         <div class="single-speaker">   
           <div class="img-box">    
             <%= image_tag('speakers/gladysdapozo.jpg', size: '250x250') %>   
             <div class="overlay-box">    
               <div class="display-table">    
                 <div class="display-table-cell">   
                 </div><!-- /.display-table-cell -->    
               </div><!-- /.display-table -->   
             </div><!-- /.overlay-box -->   
           </div><!-- /.img-box -->   
           <h3><%= link_to 'Gladys Dapozo', target: "_blank" %></h3>   
           <p><%= t 'uni_nordeste' %></p>    
         </div><!-- /.single-speaker -->    
        </div><!-- /.col-md-3 -->    

      <div class="col-md-3">    
         <div class="single-speaker">   
           <div class="img-box">    
             <%= image_tag('speakers/sebauchitel.png', size: '250x250') %>   
             <div class="overlay-box">    
               <div class="display-table">    
                 <div class="display-table-cell">   
                 </div><!-- /.display-table-cell -->    
               </div><!-- /.display-table -->   
             </div><!-- /.overlay-box -->   
           </div><!-- /.img-box -->   
           <h3><%= link_to 'Sebastián Uchitel', 'http://t.co/c17uvne9fU?amp=1', target: "_blank" %></h3>   
           <p><%= t 'uni_uba' %></p>    
         </div><!-- /.single-speaker -->    
       </div><!-- /.col-md-3 -->    
     </div><!-- /.row -->   
</div>
</section>
 