<section class="page-title">
  <div class="container">
    <h2><%= t 'schedule' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'conference' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'schedule' %></h2>
    </div>
</div>
</section>
<section class="schedule">

  <center>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23F09300&amp;src=azQwbTl0MTJ2cmZ1MWwyNm50OGxzcG9rdDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23711616&amp;dates=20191014/20191019&amp;mode=WEEK" style="border-width:0" width="1100" height="800" frameborder="1" scrolling="no"></iframe>
  </center>

  <center>

    <div class="sec-title">
      <h3><%= t 'workshops_schedule' %></h3>
    </div>
    <p> <%= t 'schedule_duration' %></p>
  </center>

   <ul class="workshops">

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule1'); return false;">Workshop Ingeniería de Software (WIS)</a></h4>
        <div id="schedule1" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showNav=0&amp;showDate=1&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1&amp;showTitle=0&amp;mode=AGENDA&amp;src=OWtyMW50bHJ0MDhxbGtvZWhsanFzNXBrYmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E67C73" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule2'); return false;">Track "Gobierno Digital y Ciudades Inteligentes"</a></h4>
        <div id="schedule2" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=dW90dmdya3R2dWQ2YzNrM2RoNDczMXJka2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237CB342&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>
      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule3'); return false;">Workshop agentes y sistemas inteligentes (WASI)</a></h4>
        <div id="schedule3" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=czRoamkybDlkZDVyYWdwcnFiYmlnMWQwMDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>
      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule4'); return false;">Workshop arquitectura, redes y sistemas operativos (WARSO)</a></h4>
        <div id="schedule4" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=M3Rqa29ocmk1dDRoODc4c2dmOGI5djZqM2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule5'); return false;">Workshop Bases de Datos y Minería de Datos (WBDMD)</a></h4>
        <div id="schedule5" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=M2dpZmdxa3M5ZmdpaGJtcGtuamFjMGw2bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23AD1457" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule6'); return false;">Workshop Innovación en Sistemas de Software (WISS)</a></h4>
        <div id="schedule6" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=ZGMuZXhhLnVucmMuZWR1LmFyX2tvYThzYm41aHQwNHMzMGZxcDhyMGljdWdzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%233F51B5" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>
      
      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule7'); return false;">Workshop tecnología informática aplicada en educación (WTIAE)</a></h4>
        <div id="schedule7" class="description">
       <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=bW5qZ21vc2RtcGdocWQ2cmwyMGdoajFsYm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;showDate=1&amp;mode=AGENDA" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule8'); return false;">Workshop Procesamiento de Señales y Sistemas de Tiempo Real (WPSSTR)</a></h4>
        <div id="schedule8" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=bjViYWttc2dtbHIzdm1scm9xOXNmYzVxcjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23EF6C00" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule9'); return false;">Workshop Seguridad Informática (WSI)</a></h4>
        <div id="schedule9" class="description">
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=Z210cWtma21hNGg1dWNpajgyMTlidGYwZzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule10'); return false;">Workshop Procesamiento Distribuido y Paralelo (WPDP)</a></h4>
        <div id="schedule10" class="description">
         <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=OTV1dXBwaHVlZGQxam5oYWkwdjBhYWptZGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule11'); return false;">Workshop Innovación en Educación en Informática (WIEI)</a></h4>
      <div id="schedule11" class="description">

        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=b2wzamVrMm83YmpvOTNrc2dhanVhdGRmaHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </li>

      <li>
        <h4> <a href="#" onclick="toggleCourse('schedule12'); return false;">Workshop Computación Gráfica, Imágenes y Visualización (WCGIV)</a></h4>
      <div id="schedule12" class="description">

        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;src=Y2sxZG4xM2MzMGMxZ2Q0dmEydXNkZXNrcm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F09300" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      </li>

      <br>
      <br>
      <br>
      <br>


    <!-- <li>
        <h4> <a href="#" onclick="toggleCourse('all'); return false;">Todos</a></h4>
      <div id="all" class="description">

    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=Y2sxZG4xM2MzMGMxZ2Q0dmEydXNkZXNrcm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=b2wzamVrMm83YmpvOTNrc2dhanVhdGRmaHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OWtyMW50bHJ0MDhxbGtvZWhsanFzNXBrYmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OTV1dXBwaHVlZGQxam5oYWkwdjBhYWptZGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bjViYWttc2dtbHIzdm1scm9xOXNmYzVxcjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Z210cWtma21hNGg1dWNpajgyMTlidGYwZzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bW5qZ21vc2RtcGdocWQ2cmwyMGdoajFsYm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=dW90dmdya3R2dWQ2YzNrM2RoNDczMXJka2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=czRoamkybDlkZDVyYWdwcnFiYmlnMWQwMDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=M3Rqa29ocmk1dDRoODc4c2dmOGI5djZqM2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=M2dpZmdxa3M5ZmdpaGJtcGtuamFjMGw2bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZGMuZXhhLnVucmMuZWR1LmFyX2tvYThzYm41aHQwNHMzMGZxcDhyMGljdWdzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F09300&amp;color=%23009688&amp;color=%23E67C73&amp;color=%23009688&amp;color=%23EF6C00&amp;color=%234285F4&amp;color=%23F6BF26&amp;color=%237CB342&amp;color=%237986CB&amp;color=%237986CB&amp;color=%23AD1457&amp;color=%233F51B5&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;showDate=1&amp;mode=AGENDA" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </li> -->

    </ul>


</div>
</section>
<script type="text/javascript">
function toggleCourse(id) {
  $(`.schedule ul.workshops li div#${id}`).toggle();
}
</script>