<section class="page-title">
  <div class="container">
    <h2><%= t 'schedule' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'conference' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'schedule' %></h2>
    </div>
</div>
</section>
<section class="schedule">

  <center>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23F09300&amp;src=azQwbTl0MTJ2cmZ1MWwyNm50OGxzcG9rdDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23711616&amp;dates=20191014/20191019&amp;mode=WEEK" style="border-width:0" width="1100" height="800" frameborder="1" scrolling="no"></iframe>
  </center>

  <center>

    <div class="sec-title">
      <h3><%= t 'workshops_schedule' %></h3>
    </div>
    <p> <%= t 'schedule_duration' %></p>
    <p> <%= t 'break_duration' %></p>

  </center>

   <ul class="workshops">

      <li>
        <div>
          <h4><%= link_to 'Workshop Ingeniería de Software (WIS)', download_schedule_url(id: 'wis'), target: :_blank %></h4>
        </div>        
        <h5> <%= fa_icon "map-marker" %> Aula 113 Pab. 2 (Sala Posgrado. Facultad de Exactas)</h5>
      </li>

      <li>
        <div>
          <h4><%= link_to '"Track "Gobierno Digital y Ciudades Inteligentes', download_schedule_url(id: 'gobierno_digital'), target: :_blank %></h4>
        </div>    
        <h5> <%= fa_icon "map-marker" %> Aula 110 Pab. 2</h5> 
      </li>
      <li>
        <div>
           <h4><%= link_to 'Workshop agentes y sistemas inteligentes (WASI)', download_schedule_url(id: 'wasi'), target: :_blank %></h4>
        </div>    

        <h5> <%= fa_icon "map-marker" %> Aula 102 Pab. 2 (Sala 102)</h5> 
      </li>
      <li>
           <h4><%= link_to 'Workshop arquitectura, redes y sistemas operativos (WARSO)', download_schedule_url(id: 'warso'), target: :_blank %></h4>
          </div>
          <h5> <%= fa_icon "map-marker" %> Aula 103 Pab. 2 (Sala 103)</h5> 
      </li>

      <li>
        <div>
          <h4><%= link_to 'Workshop Bases de Datos y Minería de Datos (WBDMD)', download_schedule_url(id: 'wbdmd'), target: :_blank %></h4>
        </div>
        <h5> <%= fa_icon "map-marker" %> Aula 101 Pab. 2 (Sala 101)</h5> 
      </li>

      <li>
       <h4><%= link_to 'Workshop Innovación en Sistemas de Software (WISS)', download_schedule_url(id: 'wiss'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 103 Pab. 2 (Sala 103)</h5> 
      </li>
      
      <li>
        <h4><%= link_to 'Workshop tecnología informática aplicada en educación (WTIAE)', download_schedule_url(id: 'wtiae'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 114 Pab. 2 (Centro IRC)</h5>         
      </li>

      <li>
        <h4><%= link_to 'Workshop Seguridad Informática (WSI)', download_schedule_url(id: 'wsi'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 102 Pab. 2 (Sala 102)</h5> 
      </li>

      <li>
         <h4><%= link_to 'Workshop Procesamiento de Señales y Sistemas de Tiempo Real (WPSSTR)', download_schedule_url(id: 'wpsstr'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 107 Pab. 3</h5> 
      </li>

      <li>
        <h4><%= link_to 'Workshop Procesamiento Distribuido y Paralelo (WPDP)', download_schedule_url(id: 'wpdp'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 10 Pab. 4</h5> 
          

      </li>

      <li>
        <h4><%= link_to 'Workshop Innovación en Educación en Informática (WIEI)', download_schedule_url(id: 'wiei'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 101 Pab. 2 (Sala 101)</h5> 
        
      </li>

      <li>
        <h4><%= link_to 'Workshop Computación Gráfica, Imágenes y Visualización (WCGIV)', download_schedule_url(id: 'wpsstr'), target: :_blank %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 102 Pab. 2 (Sala 102)</h5> 
          
     </li>

      <br>
      <br>
      <br>
      <br>

    <div class="sec-title">
      <h3><%= t 'maps' %></h3>
  

    <iframe src="https://www.google.com/maps/d/embed?mid=1tFasYWQTlC2lTW560V-q9ty2lO4v-uXL" width="640" height="480"></iframe>

      </div>
    <!-- <li>
        <h4> <a href="#" onclick="toggleCourse('all'); return false;">Todos</a></h4>
      <div id="all" class="description">

    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=Y2sxZG4xM2MzMGMxZ2Q0dmEydXNkZXNrcm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=b2wzamVrMm83YmpvOTNrc2dhanVhdGRmaHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OWtyMW50bHJ0MDhxbGtvZWhsanFzNXBrYmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OTV1dXBwaHVlZGQxam5oYWkwdjBhYWptZGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bjViYWttc2dtbHIzdm1scm9xOXNmYzVxcjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=Z210cWtma21hNGg1dWNpajgyMTlidGYwZzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bW5qZ21vc2RtcGdocWQ2cmwyMGdoajFsYm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=dW90dmdya3R2dWQ2YzNrM2RoNDczMXJka2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=czRoamkybDlkZDVyYWdwcnFiYmlnMWQwMDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=M3Rqa29ocmk1dDRoODc4c2dmOGI5djZqM2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=M2dpZmdxa3M5ZmdpaGJtcGtuamFjMGw2bnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZGMuZXhhLnVucmMuZWR1LmFyX2tvYThzYm41aHQwNHMzMGZxcDhyMGljdWdzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F09300&amp;color=%23009688&amp;color=%23E67C73&amp;color=%23009688&amp;color=%23EF6C00&amp;color=%234285F4&amp;color=%23F6BF26&amp;color=%237CB342&amp;color=%237986CB&amp;color=%237986CB&amp;color=%23AD1457&amp;color=%233F51B5&amp;showTitle=0&amp;showNav=0&amp;showPrint=1&amp;showTabs=0&amp;showCalendars=0&amp;showDate=1&amp;mode=AGENDA" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </li> -->

    </ul>


</div>
</section>
<script type="text/javascript">
function toggleCourse(id) {
  $(`.schedule ul.workshops li div#${id}`).toggle();
}
</script>