<section class="page-title">
  <div class="container">
    <h2><%= t 'school' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'school' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2><%= t 'course_description' %></h2>
    </center>
    <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 1 %></bold>: <a href="#" onclick="toggleCourse('curso1'); return false;">Software Testing</a></h3>
        <h4> <%= t 'course_charge' %>: <%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h4>

        <div id="curso1" class="description">
          <%= t 'english_course' %>
          <br><br>
          <strong>Course description</strong> <br>
          Software Testing is an approach to assure software quality that is widely adopted in industry. The goal of this course is to introduce Software Testing to students of various backgrounds. The course will cover concepts at different levels. The first two days of the course will cover basic material (e.g., definitions, coverage adequacy, etc.) to students that have no exposure to the discipline. Then, progressively, the course will cover more advanced concepts (e.g., fuzzing, symbolic execution, bounded model checking) and problems investigated in academic research.
          <div class="single-speaker">
           <div class="img-box">
            <%= image_tag('speakers/marcelodamorim.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h3>
          <p>Universidad Federal de Pernambuco</p>
          </div><!-- /.single-speaker -->
         </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 2 %></bold>: <a href="#" onclick="toggleCourse('curso2'); return false;">Construcción de Software Robusto con TDD</a> </h3>

        <h4> <%= t 'course_charge' %>: <%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %> </h4>

        <div id="curso2" class="description">
          <strong>Requisitos del curso</strong> <br>
          Es importante que se tengan conocimientos de programación ya que es un curso completamente práctico. <br>
          Los lenguajes a usar pueden ser Smalltalk, Java, C#, Python, Ruby, JavaScript y PHP.
          <br>
          Los requerimientos de máquina es que tengan el lenguaje instalado con el IDE y el framework xUnit correspondiente. <br>
          <br>
          <strong>Contenido del Curso</strong> <br>
          El objetivo de este curso es transmitirte la técnica de desarrollo ágil denominada Test Driven Development (TDD), utilizando para ello ejemplos prácticos y cotidianos. El curso parte de una breve introducción teórica para luego concentrarse en ejercicios prácticos especialmente preparados para que aprendas la técnica, puesto que creemos que 'la mejor manera de aprender es haciendo'. <br>
          <br>
          <a href="https://university.10pines.com/course_contents/4-construccion-de-software-robusto-con-tdd">Descripción completa del curso</a>
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/wilkinson.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
          <h3><%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %></h3>
          <p>Universidad de Buenos Aires y 10Pines</p>
          </div><!-- /.single-speaker -->
        </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 3 %></bold>: <a href="#" onclick="toggleCourse('curso3'); return false;">Programación Probabilística: Teoría y Práctica</a></h3>
        <h4><%= t 'course_charge' %>: <%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h4>

        <div id="curso3" class="description">
          <strong>Requisitos del curso</strong> <br>
          Si bien es recomendable que los asistentes estén familiarizados con conceptos básicos de teoría de la probabilidad y lenguajes de programación, el curso repasará todas las nociones necesaria para su desarrollo, siendo autocontenido y accesible a cualquier estudiante de la disciplina. <br>
          <br>

          <strong>Contenido del Curso</strong> <br>
          En los últimos años los lenguajes de programación probabilística (PPLs) han recibido una enorme atención, tanto desde la academia como desde la industria. En gran medida, esto de debe a la manera en la que han revolucionado los métodos de la inteligencia artificial. Por ejemplo, los PPLs actuales pueden hacer en 50 líneas lo que antes llevaba más de 1000. <br>

          El objetivo de este curso es introducir a sus asistentes al "mundo" de los PPLs, de una manera amplia, cubriendo tanto aspectos prácticos como de fundamentos. Comenzaremos estudiando los beneficios y posibilidades de los modelos de cómputo probabilísticos, recorriendo sus <i>principales aplicaciones</i>, y poniendo especial énfasis en el motor de esta revolución: la inteligencia artificial y el razonamiento Bayesiano. En la segunda parte del curso estudiaremos los principales desafíos en el <i>diseño e implementación</i> de los PPLs. Por último cubriremos la <i>semántica formal</i> y distintas <i>técnicas de verificación</i> de programas probabilísticos.
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/fedeolmedo.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h3>
            <p>Universidad de Chile</p>
          </div><!-- /.single-speaker -->
        </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 4 %></bold>: <a href="#" onclick="toggleCourse('curso4'); return false;">
          Lógica para Computación</a></h3>
        <h4><%= t 'course_charge' %>: <%= link_to 'Marcelo Frias', '#', target: "_blank" %></h4>

        <div id="curso4" class="description">
          <strong>Requisitos del curso</strong> <br>
          Conocimientos básicos de matemática discreta <br>
          Conocimientos básicos de lógica booleana <br>
          <br>
          <strong>Contenidos del Curso</strong> <br>
          Lógica proposicional: definiciones y limitaciones <br>
          Lógica de predicados: definiciones y limitaciones <br>
          Lógica relacional <br>
          Especificación de programas: precondición más débil, corrección parcial y corrección total de programas <br>
          Java Modeling Language: un lenguaje para la especificación de programas <br>
          Detección automática de fallas en programas <br>
          Reparación automática de fallas en programas
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/marcelofrias.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Marcelo Frias', 'https://www.conicet.gov.ar/new_scp/detalle.php?id=21730&datos_academicos=yes', target: "_blank" %></h3>
            <p>Instituto Tecnológico de Buenos Aires</p>
          </div><!-- /.single-speaker -->
        </div>
      </li>
    </ul>
  </div>

  <center>
        <strong><h3>Para realizar la registración, hace click en</strong>
        <a href="/registration" class="button"> Inscripciones </a></h3>
  </center>
    
  <ul class="courses">

  <h3 class="warning"> El período de solicitud de becas está finalizado y ahora se procede con el proceso de selección </h3>

  <h3> FECHAS IMPORTANTES </h3>
  <p>
    Límite para la inscripción a Becas de alumnos a la escuela: <strong>06/09/2019</strong>
  </p>
  <p>
     Notificación a los alumnos de la escuela: <strong>13/09/2019</strong>
  </p>

  <h3> Becas </h3>
    El comite organizador de CACIC brinda becas de alojamiento y almuerzo. <br><br>
   <strong> El aspirante a esta beca deberá reunir las siguientes condiciones:</strong><br>
  
    a) Ser estudiante universitario de grado o de posgrado en condición regular, en una universidad de América Latina que expida títulos oficiales en su país.<br>

    b) Residir y estudiar a más de cien (100) kilómetros de la Ciudad de Río Cuarto.<br>
    
    c) No poseer fuentes alternativas de financiamiento para concurrir a la Escuela CACIC.<br><br>
    
    <strong>Declaración jurada de datos</strong><br>
    Los datos proporcionados por los aspirantes tendrán carácter de declaración jurada. La información de datos falsos por parte del aspirante o la presentación de documentación adulterada lo inhabilitara para ser beneficiario del programa de Becas de Ayuda Económica.<br><br>

    <strong>Obligaciones del beneficiario</strong><br>
    a) Inscribirse en un curso dictado en la Escuela.<br>
    b) Cumplir con los requisitos de asistencia mínima al curso, consistentes en asistir al ochenta por ciento (80%) o mas de las clases dictadas. Por ejemplo, si en un curso se dictaren cinco (5) clases, el Beneficiario deberá asistir a cuatro (4) o mas clases.<br><br>

    <strong>Para solicitar una beca o por consultas, escribir a: becascacic19@dc.exa.unrc.edu.ar </strong><br>
  </div>
</div><!-- /.sec-title text-center -->
</ul>

</section>

<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
