<section class="page-title">
  <div class="container">
    <h2><%= t 'school' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'school' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2><%= t 'course_title' %></h2>
    </center>
    <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 1 %></bold>: <a href="#" onclick="toggleCourse('curso1'); return false;">Software Testing</a></h3>
        <h4> <%= t 'course_charge' %>: <%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 106 Pab. 2 (solo lunes) Aula 105 Pab. 2 (de martes a viernes) </h5>         

        <div id="curso1" class="description">
          <%= t 'english_course' %>
          <br><br>
          <strong><%= t 'course_description' %></strong> <br>
          Software Testing is an approach to assure software quality that is widely adopted in industry. The goal of this course is to introduce Software Testing to students of various backgrounds. The course will cover concepts at different levels. The first two days of the course will cover basic material (e.g., definitions, coverage adequacy, etc.) to students that have no exposure to the discipline. Then, progressively, the course will cover more advanced concepts (e.g., fuzzing, symbolic execution, bounded model checking) and problems investigated in academic research.
          <div class="single-speaker">
           <div class="img-box">
            <%= image_tag('speakers/marcelodamorim.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h3>
          <p><%= t 'uni_brasil' %></p>
          </div><!-- /.single-speaker -->
         </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 2 %></bold>: <a href="#" onclick="toggleCourse('curso2'); return false;"><%= t 'name_course2' %></a> </h3>

        <h4> <%= t 'course_charge' %>: <%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %> </h4>
        <h5> <%= fa_icon "map-marker" %> Aula 101 y Aula 102 Pab. 2 (Sala 101 y Sala 102)</h5>         
        <div id="curso2" class="description"> 
          <strong><%= t 'course_prerequisites' %></strong> <br>
            <p><%= t 'course2_prerequisites1' %></p>
            <p><%= t 'course2_prerequisites2' %></p>
            <p><%= t 'course2_prerequisites3' %></p>

          <strong><%= t 'course_description' %></strong> <br>
                <p><%= t 'course2_description' %></p>
          <br>
          <a href="https://university.10pines.com/course_contents/4-construccion-de-software-robusto-con-tdd"><%= t 'course2_detail' %></a>
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/wilkinson.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
          <h3><%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %></h3>
          <p><%= t 'uni_uba_pines' %></p>
          </div><!-- /.single-speaker -->
        </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 3 %></bold>: <a href="#" onclick="toggleCourse('curso3'); return false;"><%= t 'name_course3' %></a></h3>
        <h4><%= t 'course_charge' %>: <%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 107 Pab. 2 (solo lunes) Aula 106 Pab. 3 (de martes a viernes) </h5>         

        <div id="curso3" class="description">
          <strong><%= t 'course_prerequisites' %></strong> <br>
            <p><%= t 'course3_prerequisites' %></p>

          <strong><%= t 'course_description' %></strong> <br>
           <p><%= t 'course3_description1' %></p>
           <p><%= t 'course3_description2' %></p>

          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/fedeolmedo.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h3>
            <p><%= t 'uni_chile' %></p>
          </div><!-- /.single-speaker -->
        </div>
      </li>

      <li>
        <h3> <bold><%= t 'course', number: 4 %></bold>: <a href="#" onclick="toggleCourse('curso4'); return false;">
          <%= t 'name_course4' %></a></h3>
        <h4><%= t 'course_charge' %>: <%= link_to 'Marcelo Frias', '#', target: "_blank" %></h4>
        <h5> <%= fa_icon "map-marker" %> Aula 113 Pab. 2 (Sala 113. Posgrado Exactas)</h5>         
        <div id="curso4" class="description">
          <strong><%= t 'course_prerequisites' %></strong> <br>
            <p><%= t 'course4_prerequisites' %></p>
          <br>
          <strong><%= t 'course_description' %></strong> <br>
          <justify>
                <p><%= t 'course4_description1' %></p>
                <p><%= t 'course4_description2' %></p>
                <p><%= t 'course4_description3' %></p>
                <p><%= t 'course4_description4' %></p>
                <p><%= t 'course4_description5' %></p>
                <p><%= t 'course4_description6' %></p>
                <p><%= t 'course4_description7' %></p>
          </justify>
          <div class="single-speaker">
            <div class="img-box">
              <%= image_tag('speakers/marcelofrias.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Marcelo Frias', 'https://www.conicet.gov.ar/new_scp/detalle.php?id=21730&datos_academicos=yes', target: "_blank" %></h3>
            <p><%= t 'uni_itba' %></p>
          </div><!-- /.single-speaker -->
        </div>
      </li>
    </ul>
  </div>

  <center>
        <strong><h3><%= t 'to_register' %></strong>
  </center>
    
  <ul class="courses">
  <center>
    <h5 class="warning"> <%= t 'to_scholarship' %></h5>
  </center>
  </div>
</div><!-- /.sec-title text-center -->
</ul>

</section>

<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
