<section class="page-title">
  <div class="container">
    <h2>Disertantes</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Disertantes</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2>Escuela Internacional de Informática</h2>
      <p>Estos son los profesores que estarán disertando en la escuela del congreso</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speakers/marcelodamorim.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h3>
          <p>Universidad Federal de Pernambuco</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speakers/wilkinson.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Hernán Wilkinson', 'https://www-2.dc.uba.ar/staff/hwilkinson/', target: "_blank" %></h3>
          <p>Universidad de Buenos Aires y 10Pines</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speakers/fedeolmedo.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Federico Olmedo', 'https://www.dcc.uchile.cl/federico_olmedo', target: "_blank" %></h3>
          <p>Universidad de Chile</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->

    <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <%= image_tag('speakers/marcelofrias.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Marcelo Frias', '#', target: "_blank" %></h3>
          <p>Instituto Tecnológico de Buenos Aires</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->



<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h2>Ateneo</h2>
      <p>Estos son los profesores que estarán disertando en el ateneo</p>
      <div class="row">
        <div class="col-md-3">
          <div class="single-speaker ">
            <div class="img-box">
              <%= image_tag('speakers/mara.jpg', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                  <div class="display-table-cell">
                  </div><!-- /.display-table-cell -->
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Mara Borchardt', 'http://www.fundacionsadosky.org.ar/?team=mara', target: "_blank" %></h3>
            <p>Fundación Sadosky</p>
          </div><!-- /.single-speaker -->
        </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
    </div><!-- /.sec-title text-center -->


  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->

<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h2>Actividades Plenarias</h2>
      <p>Próximamente</p>
    </div><!-- /.sec-title text-center -->
  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->