<section class="page-title">
  <div class="container">
    <h2>Disertantes</h2>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Disertantes</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="speaker-section sec-pad speaker-page">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Who Speaking</h5>
      <h2>Our Speakers</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-1.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jonathan Franco</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-2.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Nikita Miller</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-3.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jack Hemswire</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-4.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Zerad Pawel</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-1.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jonathan Franco</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-2.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Nikita Miller</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-3.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Jack Hemswire</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="single-speaker">
          <div class="img-box">
            <img src="<%= image_path 'speaker-4.png' %>" alt="" />
            <div class="overlay-box">
              <div class="display-table">
                <div class="display-table-cell">
                  <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul><!-- /.social list-inline -->
                </div><!-- /.display-table-cell -->
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3>Zerad Pawel</h3>
          <p>Project Manager</p>
        </div><!-- /.single-speaker -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section><!-- /.speaker-section sec-pad -->
