  <section class="page-title">
    <div class="container">
      <h2>Auspiciantes</h2>
      <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> Auspiciantes</a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.container -->
  </section><!-- /.page-title -->

  
  <section class="event-sponsor sec-pad">
    <div class="container">
      <div class="sec-title text-center">
        <h5>CACIC 2019</h5>
        <h2>Auspiciantes del evento</h2>
        <p>Agradecemos a los siguientes auspiciantes por su apoyo al evento</p>
      </div><!-- /.sec-title text-center -->
      <h3 class="sponsor-title text-center">Platinum Sponsors</h3><!-- /.sponsor-title -->
      <br />
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/municipalidad_rio_cuarto.jpg', size: '195x210'), 'http://www.riocuarto.gov.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/MincytCordoba.png', size: '310x210'), 'https://mincyt.cba.gov.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/mercado_libre.png', size: '280x280'), 'https://mercadolibre.com.ar', target: "_blank" %>
        </li>
      </ul>
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/plum.png'), 'http://plum.com.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/toptier.png', size: '240x115'), 'https://www.toptive.co/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/we-develop.png'), 'https://wedevelop.me/', target: "_blank" %>
        </li>
      </ul><!-- /.sponsor-img-list -->
      <br /><br /><br />
      <h3 class="sponsor-title text-center">Gold Sponsors</h3><!-- /.sponsor-title -->
      <br />
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/cessi.jpg', size: '250x170'), 'http://www.cessi.org.ar' %>
        </li>
      </ul><!-- /.sponsor-img-list -->

    </div><!-- /.container -->
  </section><!-- /.event-sponsor sec-pad -->
