  <section class="page-title">
    <div class="container">
      <h2>Auspiciantes</h2>
      <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> Auspiciantes</a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.container -->
  </section><!-- /.page-title -->

  
  <section class="event-sponsor sec-pad">
    <div class="container">
      <div class="sec-title text-center">
        <h5>CACIC 2019</h5>
        <h2>Auspiciantes del evento</h2>
        <p>Agradecemos a los siguientes auspiciantes por su apoyo al evento</p>
      </div><!-- /.sec-title text-center -->
      <h3 class="sponsor-title text-center">Platinum Sponsors</h3><!-- /.sponsor-title -->
      <br />
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= image_tag('312x170.png') %>
        </li>
        <li>
          <%= image_tag('312x170.png') %>
        </li>
        <li>
          <%= image_tag('312x170.png') %>
        </li>
      </ul><!-- /.sponsor-img-list -->
      <br /><br /><br />
      <h3 class="sponsor-title text-center">Gold Sponsors</h3><!-- /.sponsor-title -->
      <br />
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <img src="<%= image_path 'sponsor-4.png' %>" alt="" />
        </li>
        <li>
          <img src="<%= image_path 'sponsor-5.png' %>" alt="" />
        </li>
        <li>
          <img src="<%= image_path 'sponsor-6.png' %>" alt="" />
        </li>
        <li>
          <img src="<%= image_path 'sponsor-7.png' %>" alt="" />
        </li>
        <li>
          <img src="<%= image_path 'sponsor-8.png' %>" alt="" />
        </li>
      </ul><!-- /.sponsor-img-list -->

    </div><!-- /.container -->
  </section><!-- /.event-sponsor sec-pad -->
