<section class="page-title">
  <div class="container">
    <h2><%= t 'transportation' %></h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'transportation' %></a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'transportation' %></h2>
    </div>


 <div class="transp">

  <p class="justi"><%= t 'transport_info' %>:<br>
          </p> 

  <iframe src="https://www.google.com/maps/d/embed?mid=17Eyb3CayTWv-aBeq43yUwIvUnhaV1hT3" width="640" height="480"></iframe> <br>

  <p class="justi">
     <%= t 'routes_line' %>
      <a target="_blank" rel="noopener noreferrer" href="http://www.riocuarto.gov.ar/maparioiv/tilecache/lcolectivos/"> <%= t 'site' %>  </a> <br>
  </p> 
  
  <p class="justi">
  <%= t 'schedule_transport' %> <a target="_blank" rel="noopener noreferrer" href="http://satcrc.com.ar/"> SATCRC </a><br>
   </p>

       
</div>
</div>
</section>
