<section class="schedule-section sec-pad">
  <div class="container">
    <div class="sec-title text-center light">
      <h5>Coronograma</h5>
      <h2>Cronograma de Conferencias</h2>
      <p></p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-3">
        <ul class="schedule-links">
          <li class="active" data-tab-name="monday"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Lunes</p>
              <span>Febrebro 21, 2019</span>
            </div>
          </a></li>
          <li data-tab-name="tuesday"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Martes</p>
              <span>Febrebro 22, 2019</span>
            </div><!-- /.date -->
          </a></li>
          <li data-tab-name="wednesday"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Miercoles</p>
              <span>Febrero 23, 2019</span>
            </div><!-- /.date -->
          </a></li>
        </ul>
      </div><!-- /.col-md-3 -->
      <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="monday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Horario</th>
                      <th>Disertante</th>
                      <th>Tema</th>
                      <th>Lugar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %> Samanta Doe</td>

                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-3.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="tuesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Speaker</th>
                      <th>Subject</th>
                      <th>Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %> Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-3.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="wednesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Speaker</th>
                      <th>Subject</th>
                      <th>Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Introducción a Wp</td>
                      <td>Auditorio A</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
      </div><!-- /.col-md-9 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.schedule-section sec-pad -->
