<section class="schedule-section sec-pad">
  <div class="container">
    <div class="sec-title text-center light">
      <h5>Event Schedule</h5>
      <h2>Conference Schedule</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-3">
        <ul class="schedule-links">
          <li class="active" data-tab-name="monday"><a href="#monday" aria-controls="monday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Monday</p>
              <span>Feb 21, 2019</span>
            </div>
          </a></li>
          <li data-tab-name="tuesday"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Tuesday</p>
              <span>Feb 22, 2019</span>
            </div><!-- /.date -->
          </a></li>
          <li data-tab-name="wednesday"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="tab" class="clearfix">
            <i class="fa fa-calendar"></i>
            <div class="date">
              <p>Wednesday</p>
              <span>Feb 23, 2019</span>
            </div><!-- /.date -->
          </a></li>
        </ul>
      </div><!-- /.col-md-3 -->
      <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="monday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Speaker</th>
                      <th>Subject</th>
                      <th>Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %> Samanta Doe</td>

                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-3.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="tuesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Speaker</th>
                      <th>Subject</th>
                      <th>Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %> Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-3.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="wednesday">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Speaker</th>
                      <th>Subject</th>
                      <th>Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-1.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-2.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-4.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-5.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-clock-o"></i> 9.00 AM</td>
                      <td><%= image_tag('speaker-thumb-6.png') %>  Samanta Doe</td>
                      <td>Inroduction to Wp</td>
                      <td>Auditorium A</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
      </div><!-- /.col-md-9 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.schedule-section sec-pad -->
