<section class="banner">
  <div class="container">
    <div class="col-md-5 col-sm-12 col-xs-12 pull-left">
      <h2>Congreso Argentino de Ciencias de la Computación</h2>
      <p>February 22, 2019</p>
      <ul class="list-inline coundown">
        <!-- content loading via js -->
      </ul>
    </div><!-- /.col-md-5 -->
    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
      <form class="banner-form" action="#">
        <div class="form-header">
          <h3>Register now</h3>
        </div><!-- /.form-header -->
        <div class="form-box">
          <input type="text" placeholder="Full Name" />
          <input type="text" placeholder="Email Address" />
          <input type="text" placeholder="Phone Number" />
          <input type="text" placeholder="Number Of Seats" />
          <input type="text" placeholder="Choose A Plan" />
          <button type="submit">Buy Ticket</button>
        </div><!-- /.form-box -->
      </form>
    </div><!-- /.col-md-4 -->
  </div><!-- /.container -->
</section><!-- /.banner -->

<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <br />
      <br />
      <h4>Bienvenido a</h4>
      <h3>CACIC<span>2019</span></h3>
      <br />
      <p class="black">
        El XXV Congreso Argentino de Ciencias de la Computación
        se llevará a cabo por primera vez en la Provincia de Córdoba,
        durante la segunda semana de Octubre, en la sede de la
        Facultad de Ciencias Exactas, Físico-Químicas y Naturales de
        la Universidad Nacional de Río Cuarto, Río Cuarto, Córdoba,
        Argentina. El CACIC es el evento nacional de Cs. de la
        Computación de mayor concurrencia y de alcance más
        federal. Actúa como punto de encuentro de investigadores,
        docentes, estudiantes de grado/postgrado, y profesionales de
        la Informática.
      </p>
      <br />
      <p class="small"></p>
      <br />
      <a href="#" class="btn">Buy Ticket</a> &emsp; <a href="#" class="btn btn-inverse">Read More</a>

    </div><!-- /.col-md-6 -->
    <div class="col-md-6">
      <%= image_tag('about-1.png') %>
    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->

<section class="counter-section has-overlay">
  <div class="container">
    <div class="col-md-3 text-center">
      <%= fa_icon "microphone" %>
      <p>8 Speakers</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-flag"></i>
      <p>500 + Seats</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-ticket"></i>
      <p>300 Tickets</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-calendar"></i>
      <p>3 Days Event</p>
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->

<section class="blog-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>2019</h5>
      <h2>CACIC</h2>
      <p> XXV Congreso Argentino de Ciencias de la Computación </p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('blog-1.png') %>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>El Congreso</h3>
            <p>El Congreso Argentino de
              Ciencias de la Computación
              (CACIC) es organizado por la
              Red de Universidades
              Nacionales con carreras en
              Informática (RedUNCI). CACIC
              reúne desde 1995 a
              investigadores, docentes,
              profesionales y alumnos de
              grado y postgrado vinculados
              con la disciplina Informática. </p>
            <ul class="post-meta list-inline text-center">
              
            </ul><!-- /.post-meta -->
          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('blog-2.png') %>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>La Escuela</h3>
            <p>La Escuela Internacional de
              Informática asociada a CACIC
              brinda cursos intensivos de
              formación destinados a
              estudiantes de grado,
              estudiantes de postgrado,
              graduados e investigadores,
              sobre diversas temáticas de
              interés en Ciencias de la
              Computación.</p>  
            <ul class="post-meta list-inline text-center">
            </ul><!-- /.post-meta -->
          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('blog-3.png') %>
            <div class="date-box">
              25 <span>Feb</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>El Ateneo</h3>
            <p>El Ateneo de Profesores
            Universitarios de Computación
            reúne a docentes y estudiantes
            del nivel superior, involucrados
            en la disciplina informática,
            para discutir, analizar y
            estudiar enfoques de
            enseñanza-aprendizaje,
            aspectos curriculares, y otros
            temas de interés para la
            enseñanza de la disciplina.</p>
            <ul class="post-meta list-inline text-center">
            </ul><!-- /.post-meta -->
          </div><!-- /.bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.blog-section -->

<section class="call-to-action">
  <div class="container">
    <h3>Register for Conference now</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br /> dunt ut labore et dolore magna aliqu enim ad.</p>
    <a href="#" class="btn">Register Now</a>
  </div><!-- /.container -->
</section><!-- /.call-to-action -->

<%= render 'speakers' %>

<%= render 'schedule'%>

<section class="choose-a-plan-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Buy Ticket</h5>
      <h2>Choose A Plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-4">
        <div class="single-choose-a-plan-section">
          <div class="top-box">
            <div class="name">
              <h3>Starter</h3>
            </div><!-- /.name -->
            <div class="price">
              49.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-choose-a-plan-section active">
          <div class="top-box">
            <div class="name">
              <h3>Standerd</h3>
            </div><!-- /.name -->
            <div class="price">
              59.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-choose-a-plan-section">
          <div class="top-box">
            <div class="name">
              <h3>Platinum</h3>
            </div><!-- /.name -->
            <div class="price">
              79.00<span>$</span>
            </div><!-- /.price -->
            <p>Per Person</p>
          </div><!-- /.top-box -->
          <ul>
            <li><i class="fa fa-circle-thin"></i> 1 Comfortable Seats</li>
            <li><i class="fa fa-circle-thin"></i> Free Lunch and Coffee</li>
            <li><i class="fa fa-circle-thin"></i> Certificate</li>
            <li><i class="fa fa-circle-thin"></i> Easy Access</li>
          </ul>
          <a href="#" class="btn">Buy a Ticket</a>
        </div><!-- /.single-choose-a-plan-section -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.choose-a-plan-section -->

<section class="event-gallery-section gray-bg sec-pad">
  <div class="container-fluid">
    <div class="sec-title text-center">
      <h5>Our Gallery</h5>
      <h2>Event Gallery</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <div class="gallery-carousel owl-carousel owl-theme">
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <%= image_tag('gallery-1.png') %>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <%= image_tag('gallery-2.png') %>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <%= image_tag('gallery-3.png') %>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
      <div class="item">
        <div class="single-gallery-box">
          <div class="img-box">
            <%= image_tag('gallery-4.png') %>
            <div class="overlay">
              <div class="dt">
                <div class="dtc">
                  <ul class="text-center list-inline">
                    <li><a class="fancybox" href="img/gallery-page-1.jpg"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div><!-- /.dtc -->
              </div><!-- /.dt -->
            </div><!-- /.overlay -->
          </div><!-- /.img-box -->
        </div><!-- /.single-gallery-box -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.event-gallery-section -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>Well Wisher</h5>
      <h2>Event Sponsors</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incidi <br />dunt ut labore et dolore magna aliqu enim ad.</p>
    </div><!-- /.sec-title text-center -->
    <h3 class="sponsor-title text-center">Platinum Sponsors</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <%= image_tag('sponsor-1.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-2.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-3.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-4.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-5.png') %>
      </li>
    </ul><!-- /.sponsor-img-list -->
    <br /><br /><br />
    <h3 class="sponsor-title text-center">Gold Sponsors</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <%= image_tag('sponsor-6.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-7.png') %>
      </li>
      <li>
        <%= image_tag('sponsor-8.png') %>
      </li>
    </ul><!-- /.sponsor-img-list -->

  </div><!-- /.container -->
</section><!-- /.event-sponsor sec-pad -->

