<section class="banner">
  <div class="container">
    <%#= video_tag "output.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
      <h2 class="stopfade">Congreso Argentino de Ciencias de la Computación</h2>
      <p>14 al 18 de Octubre, UNRC</p>
<!--       <p class="black"><a href="/registration" class="warning">  <strong>INSCRIPCIONES ABIERTAS!</strong></p> -->
      <ul class="list-inline coundown">
        <!-- content loading via js -->
      </ul>
        <div class="tiwtter-container">
        <a class="twitter-timeline" data-lang="es" data-tweet-limit="2" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/cacic2019?ref_src=twsrc%5Etfw">Tweets by cacic2019</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/cacic2019?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @cacic2019</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.banner -->

<section class="about-section sec-pad">
  <div class="container">
    <div class="col-md-6">
      <h4>Bienvenido a</h4>
      <h3>CACIC<span>2019</span></h3>
      <br />
      <p>
        El XXV Congreso Argentino de Ciencias de la Computación
        se llevará a cabo por primera vez en la Provincia de Córdoba,
        durante la segunda semana de Octubre, en la sede de la
        Facultad de Ciencias Exactas, Físico-Químicas y Naturales de
        la Universidad Nacional de Río Cuarto, Río Cuarto, Córdoba,
        Argentina. El CACIC es el evento nacional de Cs. de la
        Computación de mayor concurrencia y de alcance más
        federal. Actúa como punto de encuentro de investigadores,
        docentes, estudiantes de grado/postgrado, y profesionales de
        la Informática.
      </p>
      <br />
      <p class="small"></p>
      <br />

      <!-- <a href="#" class="btn">Buy Ticket</a> &emsp; <a href="#" class="btn btn-inverse">Read More</a> -->

    </div><!-- /.col-md-6 -->
    <div class="col-md-6 sepia">
      <%= image_tag('alumnos_caminando.jpg', size: '570x400') %>
    </div><!-- /.col-md-6 -->
  </div><!-- /.container -->
</section><!-- /.about-section -->

<section class="counter-section has-overlay">
  <div class="container">
    <div class="col-md-3 text-center">
      <%= fa_icon "microphone" %>
      <p> Charlas </p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-flag"></i>
      <p>Cursos</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-ticket"></i>
      <p>Workshops</p>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-calendar"></i>
      <p>Presentación de trabajos</p>
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</section><!-- /.counter-section -->

<section class="blog-section sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>2019</h5>
      <h2>CACIC</h2>
      <p> XXV Congreso Argentino de Ciencias de la Computación </p>
    </div><!-- /.sec-title text-center -->
    <div class="row">
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('image-1.jpg', size: '370x240') %>
            <div class="date-box">
              Oct <span>14-18</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>El Congreso</h3>
            <p>El Congreso Argentino de
              Ciencias de la Computación
              (CACIC) es organizado por la
              Red de Universidades
              Nacionales con carreras en
              Informática (RedUNCI). CACIC
              reúne desde 1995 a
              investigadores, docentes,
              profesionales y alumnos de
              grado y postgrado vinculados
              con la disciplina Informática. </p>
            <ul class="post-meta list-inline text-center">

          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('image-2.jpg', size: '370x240') %>
            <div class="date-box">
              Oct <span>14-18 </span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>La Escuela</h3>
            <p>La Escuela Internacional de
              Informática asociada a CACIC
              brinda cursos intensivos de
              formación destinados a
              estudiantes de grado,
              estudiantes de postgrado,
              graduados e investigadores,
              sobre diversas temáticas de
              interés en Ciencias de la
              Computación.</p>
            <ul class="post-meta list-inline text-center">
            </ul><!-- /.post-meta -->
          </div><!-- .bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-blog-post text-center">
          <div class="img-box">
            <%= image_tag('image-3.jpg', size: '370x240') %>
            <div class="date-box">
              Oct <span>14-18</span>
            </div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <div class="bottom-box">
            <h3>El Ateneo</h3>
            <p>El Ateneo de Profesores
            Universitarios de Computación
            reúne a docentes y estudiantes
            del nivel superior, involucrados
            en la disciplina informática,
            para discutir, analizar y
            estudiar enfoques de
            enseñanza-aprendizaje,
            aspectos curriculares, y otros
            temas de interés para la
            enseñanza de la disciplina.</p>
            <ul class="post-meta list-inline text-center">
            </ul><!-- /.post-meta -->
          </div><!-- /.bottom-box -->
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.blog-section -->

<section class="call-to-action">
  <div class="container">
    <h3>Registraciones</h3>
    <p>Próximamente se abrirán las registraciones</p>
    <!-- <a href="#" class="btn">Register Now</a> -->
  </div><!-- /.container -->
</section><!-- /.call-to-action -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h5>CACIC 2019</h5>
      <h2>Auspiciantes del evento</h2>
      <p>Los siguientes son los auspiciantes del evento</p>
    </div><!-- /.sec-title text-center -->

    <h3 class="sponsor-title text-center">Organizan</h3><!-- /.organization-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <%= link_to image_tag('sponsors/redunci.gif'), 'http://redunci.info.unlp.edu.ar/', target: "_blank" %>
      </li>
      <li>
        <%= link_to image_tag('sponsors/unrc.png'), 'https://www.unrc.edu.ar/', target: "_blank" %>
      </li>
    </ul>

    <h3 class="sponsor-title text-center">Platino</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/municipalidad_rio_cuarto.jpg', size: '135x174'), 'http://redunci.info.unlp.edu.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/MincytCordoba.png', size: '310x210'), 'https://mincyt.cba.gov.ar/', target: "_blank" %>
        </li>
      </ul>

      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/mercado_libre.png', size: '280x280'), 'https://mercadolibre.com.ar', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/medallia.png', size: '232x52'), 'https://www.medallia.com/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/simtlix.png', size: '320x77'), 'https://www.simtlix.com/en/home/', target: "_blank" %>
        </li>
      </ul>

      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/plum.png'), 'http://plum.com.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/toptier.png', size: '240x115'), 'https://www.toptive.co/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/we-develop.png'), 'https://wedevelop.me/', target: "_blank" %>
        </li>
      </ul><!-- /.sponsor-img-list -->
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/manas-tech.png', size: '320x115'), 'https://manas.tech', target: "_blank" %>
        </li>
      </ul>

    <br /><br /><br />
    <h3 class="sponsor-title text-center">Oro</h3><!-- /.sponsor-title -->
    <br />
    <ul class="sponsor-img-list list-inline text-center">
      <li>
        <%= link_to image_tag('sponsors/sadosky.png', size: '309x98'), 'http://www.fundacionsadosky.org.ar' %>
      </li>
      <li>
        <%= link_to image_tag('sponsors/cessi.jpg', size: '250x170'), 'http://www.cessi.org.ar', target: "_blank" %>
      </li>
      <li>
        <%= link_to image_tag('sponsors/ignetworks.png', size: '299x118'), 'https://ignetworks.com' %>
      </li>
    </ul><!-- /.sponsor-img-list -->

  </div><!-- /.container -->
</section><!-- /.event-sponsor sec-pad -->

