<footer>
  <div class="container">
    <div class="col-md-5">
      <div class="about-widget">
        <a href="<%= landing_index_url %>">
          <%= image_tag('logo-cacic.png', size: '180x40') %>
        </a>
        <p><%= t 'the_conference_description' %></p>
        <p><%= t 'footer_the_conference_description' %></p>
      </div><!-- /.about-widget -->
    </div><!-- /.col-md-5 -->
    <div class="col-md-4">
    </div><!-- /.col-md-4 -->
    <div class="col-md-3">
      <div class="contact-widget">
        <h3><%= t 'contact' %></h3>
        <p><%= t 'contact_description' %></p>
        <ul>
          <li>
            Location:    Enlace Ruta Nac. 36 - Km. 601,
          </li>
          <li>Phone:    [54] 358 467-6235</li>
          <li>Email:    cacic2019@dc.exa.unrc.edu.ar</li>
          <p><%= t 'scholarships' %>: becascacic19@dc.exa.unrc.edu.ar</p>
        </ul>
      </div><!-- /.contact-widget -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</footer>
<section class="footer-bottom">
  <div class="container">
    <div class="left-text pull-left">
      <p>CACIC  &copy;  2019 All Right Reserved</p>
    </div><!-- /.left-text pull-left -->
    <div class="social pull-right">
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/cacic2019/?__tn__=%2Cd%2CP-R&eid=ARCDjAq6V9DCTQ3C5pIyNCiVSVBhe66lMFxrIa2XyrZqOzMS6i5S71PHH5MWuIeKitORfG7-L1cR_xKn" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/cacic2019?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3Acacic2019&ref_url=http%3A%2F%2Flocalhost%3A3000%2Flanding%2Findex" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/cacic2019/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.social pull-right -->
  </div><!-- /.container -->
</section><!-- /.footer-bottom -->
