<nav class="navbar navbar-default header header-navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= landing_index_url %>">
        <%= image_tag('logo-cacic.png') %>
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse  navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= landing_index_url %>">Home</a></li>
        <li><a href="<%= static_pages_about_url %>"><%= t 'navbar.about' %></a></li>

        <li>
          <a href="#"><%= t 'conference' %></a>
          <ul class="sub-menu">
            <li><a href="http://www.unirioeditora.com.ar/producto/xxv-congreso-argentino-ciencias-la-computacion-cacic-2019"><%= t 'proceedings' %></a></li>
            <li><a href="<%= static_pages_cfp_url %>">Call for Papers</a></li>
            <li><a href="<%= static_pages_format_paper_url %>"><%= t 'paper_format' %></a></li>
            <li><a href="<%= static_pages_accepted_paper_url %>"><%= t 'accepted_papers' %></a></li>

            <li><a><%= t 'plenary_activities' %></a>
              <ul class="sub-menu">
                <li><a href="<%= static_pages_panel_url %>">Panel</a></li>
                <li><a href="<%= static_pages_guest_talk_url %>"><%= t 'guest_talks' %></a></li>
                <li><a href="<%= static_pages_athenaeum_url %>"><%= t 'athenaeum' %></a></li>
                <li><a href="<%= static_pages_school_url %>"><%= t 'school' %></a></li>
              </ul>
            </li>

            <li><a href="<%= static_pages_workshops_url %>">Workshops</a></li>
            <li><a href="<%= static_pages_schedule_url %>"><%= t 'schedule' %></a>
            <li><a href="<%= static_pages_inscription_url %>"><%= t 'registration' %></a>
            <li><a href="<%= static_pages_banquet_url %>"><%= t 'dinner' %></a>

            <li><a href="<%= static_pages_talks_url %>"><%= t 'talks' %></a>
            </li>
          </ul>
        </li>

        <li>
          <a href="<%= static_pages_school_url %>"><%= t 'school' %></a>
        </li>

        <li><a href="<%= static_pages_sponsors_url %>"><%= t 'sponsors' %></a></li>

        <li>
        <a href="#"><%= t 'information' %></a>
        <ul class="sub-menu">     
          <li>
            <a href="<%= static_pages_accommodation_url %>"><%= t 'accomodations' %></a>
          </li>      
          <li>
            <a href="<%= static_pages_transport_url %>"><%= t 'transportation' %></a>
          </li>      
          <li>
            <a href="<%= static_pages_maps_url %>"><%= t 'maps' %></a>
          </li>              
          <li><a href="<%= static_pages_contact_url %>"><%= t 'contact' %></a></li>
       </ul>
        <li>
          <a
            href="http://weblidi.info.unlp.edu.ar/sac_congreso/index.php?idEvento=106"
            class="organization">
            <%= t 'organization_access' %>
            <div class="flags">
              <% if @locale == 'en' %>
                <%= link_to image_tag('es.png', size: '30x30'), root_url(locale: 'es') %>
              <% else %>
                <%= link_to image_tag('en.png', size: '30x30'), root_url(locale: 'en') %>
              <% end -%>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
